<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--在MyBatis中，Mapper中的namespace用于绑定Dao接口的，即面向接口编程。
它的好处在于当使用了namespace之后就可以不用写接口实现类，业务逻辑会直接通过这个绑定寻找到相对应的SQL语句进行对应的数据处理-->
<mapper namespace="com.springboot.data2.mapper.UserData2Mapper">
    <select id="getTopicListData2"  resultType="map">
        select * from tb_topic
    </select>
</mapper>